:host {
    display: flex;
    justify-content: center;
}

.create-athlete {
    margin-top: 20px;
}

.athlete-thumbnail {
    max-width: 200px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.create-athlete form {
    display: flex;
    flex-direction: column;
}

.athlete-image-upload {
    margin: 0 0 20px 0;
    display: flex;
    flex-direction: column;
}

.promo {
    margin-bottom: 20px;
}

.athlete-image-upload span {
    margin-bottom: 10px;
}

.upload-progress {
    display: flex;
    margin: 10px;
    max-width: 250px;
}

.progress-bar {
    margin: 10px;
    width: 300px;
}

.uploaded-image {
    max-width: 250px;
}
