.message {
  font-size: .7em;
  font-style: italic;
}

.season {
    max-width: 390px;
    margin: 20px auto 0 auto;
}

.theme {
  font-style: italic;
  padding:10px;
  background-color: #009688;
  color: white;
}
