/* You can add global styles to this file, and also import other style files */
@use '~@angular/material' as mat;
@import "~firebaseui/dist/firebaseui.css";



// Include non-theme styles for core.
@include mat.core();

// Define a theme.
$primary: mat.define-palette(mat.$teal-palette);
$accent:  mat.define-palette(mat.$gray-palette, A200, A100, A400);

$theme: mat.define-light-theme($primary, $accent);

// Include all theme styles for the components.
@include mat.all-component-themes($theme);
