<mat-card *ngFor="let athlete of athletes" class="athlete-card mat-elevation-z10">

  <mat-card-header>

    <mat-card-title>{{athlete.firstName}} {{athlete.lastName}}</mat-card-title>

  </mat-card-header>

  <img mat-card-image [src]="athlete.profileUrl" alt='profile image'>

  <mat-card-content>
    <p>{{athlete.email}}</p>
  </mat-card-content>

  <mat-card-actions class="athlete-actions">

    <button mat-button class="mat-raised-button mat-primary" [routerLink]="['/athletes', athlete.id]">
      VIEW DETAILS
    </button>

    <ng-container>
      <ng-container>
        <button mat-button class="mat-raised-button mat-accent">
          EDIT
        </button>
        <button mat-mini-fab color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </ng-container>
    </ng-container>

  </mat-card-actions>

</mat-card>
